
@using ShareBook.Entities
@model ShareBookUser


@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<link href="~/Content/login/login.css" rel="stylesheet" />

@using (Html.BeginForm("ForgotPassword", "Home", FormMethod.Post, null))
{
    <div class="container-fluid col-md-4">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header">Reset Password</div>
            <div class="card-body">
                <div class="text-center mt-4 mb-5">
                    <h4>Forgot your password?</h4>
                    <p>Enter your email address and we will send you instructions on how to reset your password.</p>
                </div>
                @Html.ValidationSummary(false, "", new { @class = "text-left", style = "color:#007BFF" })
                    <div class="form-group">
                        @Html.TextBoxFor(model => model.Email, new { id = "Email", @class = "form-control", name = "email", autofocus = "true", placeholder = "E-posta adresiniz..." })
                        
                    </div>
                <div class="form-group no-margin">
                    <button type="submit" class="btn btn-primary btn-block">
                        <span class="fa fa-send"> Gönder</span>
                    </button>
                </div>
          
                <div class="text-center">
                    <a class="d-block small mt-3" href="/Home/Register">Register an Account</a>
                    <a class="d-block small" href="/Home/Login">Login Page</a>
                </div>
            </div>
        </div>
    </div>
   
}






<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/login/login.js"></script>
<script type="text/javascript">
        $(document).ready(function () {
            $('footer').hide();
        });
</script>





