
@{
    ViewBag.Title = "ForgotPasswordActivateUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using ShareBook.WebApp.ViewModels
@using ShareBook.Entities
@using ShareBook.Entities.ValueObjects
@model ForgotPassUserViewModel<ShareBookUser,ForgotPasswordViewModel>






<link href="~/Content/login/login.css" rel="stylesheet" />
@using (Html.BeginForm("ForgotPasswordActivateUser", "Home", FormMethod.Post, null))
{
    <section class="h-100 my-login-page my-5">
        <div class="container-fluid h-100">
            <div class="row justify-content-md-center h-100">
                <div class="card-wrapper">

                    <div class="card fat">
                        <div class="card-body">
                            <h4 class="card-title">Şifremi Unuttum</h4>
                            @Html.ValidationSummary(false, "", new { @class = "text-left", style = "color:#007BFF" })
                            @Html.HiddenFor(x=>x.User.Id)
                          
                          

                            <div class="form-group">
                                <label for="newpassword">
                                    Yeni Şifreniz
                                </label>
                                @Html.TextBoxFor(model => model.NewPass.Password, new { type = "Password", id = "password", @class = "form-control", name = "Password", autofocus = "true", placeholder = "Yeni şifreniz...", data_eye = "true" })

                            </div>

                            <div class="form-group">
                                <label for="renewpassword">
                                    Yeni Şifreniz (Tekrar)
                                </label>
                                @Html.TextBoxFor(model => model.NewPass.RePassword, new { type = "Password", id = "repassword", @class = "form-control", name = "rePassword", autofocus = "true", placeholder = "Yeni şifreniz (Tekrar)...", data_eye = "true" })

                            </div>



                            <div class="form-group no-margin ">
                                <button type="submit" class="btn btn-primary btn-block">
                                    <span class="fa fa-send"> Kaydet</span>
                                </button>
                            </div>


                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
}






<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/login/login.js"></script>
<script type="text/javascript">
        $(document).ready(function () {
            $('footer').hide();
        });
</script>







